.container__small-card {
  width: 700px;
  margin-bottom: 70px;

}

.container__small-card-contennt {
  display: flex;
  flex-direction: row;
}

.small-card__photo > img{
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}
.small-card__tittle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__small-card__separator {
  margin-top: 10px;

}
.container__description-title1 {
  margin-top: 20px;
  display: flex;
  justify-content: left;

}
.container__description-title1 > p > a {
  white-space: pre-wrap;
}
.container__description-title {
  margin-top: 20px;
  display: flex;
  justify-content: left;

}
.container__description-title > p {
  display: flex;
}
