
<app-menu-tittle></app-menu-tittle>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://scontent-gru1-2.xx.fbcdn.net/v/t39.30808-1/277738311_2193246427492908_4377111499254307966_n.jpg?stp=dst-jpg_p160x160&_nc_cat=103&ccb=1-7&_nc_sid=7206a8&_nc_ohc=p51pOniK_7MAX9BzvFk&_nc_ht=scontent-gru1-2.xx&oh=00_AfCWVj0R98CzkSmSTtJZgM_zHt8_xdORDv9yFQKCmIF-6Q&oe=64F3D588"
      cardTittle="Sobre mim "
      cardDescription="
      👋 Olá! Sou o Gabriel, apaixonado por tecnologia e estudante de Gestão de Tecnologia da Informação na Fatec Jundiaí.

      💡 Aos 22 anos, mergulho de cabeça em projetos de tecnologia. Acredito que o aprendizado ganha vida quando aplicado, por isso adoro aprender na prática.

      💻 Minhas stacks principais são Java com Spring Boot para construir sistemas robustos, e Angular com TypeScript para criar interfaces cativantes.

      🤝 Colaboração é essencial. Na Fatec, compartilho conhecimentos e aprendo com uma comunidade incrível de colegas.

      🚀 Meu portfólio é minha jornada de aprendizado e inovação. Vamos construir o futuro juntos!"
    >
  </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
     cardTittle="Meus projetos"
     descriptionTitle1="💡 Confira alguns dos meus projetos pessoais clicando aqui.

💻  Todos meus projetos estão na minha página do github!"
    >
  </app-small-card>
    <app-small-card
     cardTittle="Fale comigo"
     descriptionTitle="Email: dorassi30@gmail.com"
    >
    </app-small-card>
    <app-small-card

     cardTittle="Baixe meu curriculo"
     descriptionTitleDownload="Clique aqui para baixar meu curriculo"
    >
  </app-small-card>
  </div>
</div>


