
<app-menu-tittle></app-menu-tittle>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover=""
      cardTittle=""
      cardDescription=""
    >
  </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
     cardTittle=""
     photoCover=""
    >
  </app-small-card>
    <app-small-card
    Id="3"
    cardTittle=""
     photoCover=""
    >
    </app-small-card>
    <app-small-card
    Id="4"
    cardTittle=""
     photoCover=""
    >
  </app-small-card>
  </div>
</div>


